{% include 'plantilla/encabezado.html' %}

<div class="container">
    <div class="col" style="color: blue;">
        <h1>Alerta Médica
            <br>
            Inteligente</h1>
            <div class="col-4" style="color: red;">
                <h5>La tecnología al servicio de la vida y 
                    la integración con el entorno 
                    Organizacional </h5>
            </div>
    </div>
    <br>
<div class="row">
    <p>SÍMBOLO UNIVERSAL DE ALERTA MÉDICA
        El símbolo de alerta médica fue creado por LEO R. SCHWARTZ en
        los años 60; de color azul, es usado por el personal y equipo de
        emergencias; reconocido mundialmente por ser una Cruz de 6
        puntas y la "Vara de Esculapios“, (Star of Life).
        En la actualidad se usa en diferentes colores, en collares, dijes,
        pulseras, llaveros, tarjetas, stickers, parches o adhesivos, para
        llamar la atención del personal de emergencia, brindando
        información vital que debe ser tenida en cuenta</p>
</div>

</div>



   {% include 'plantilla/piedepagina.html' %}